@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    /* COLORS */
    /* Primary */
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    /* Neutral */
    --very-vark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --lightbox-background: hsla(0, 0%, 0%, 0.75);
    /* Typography */
    --font-size: 16px;
    --bold: 700;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;    
}

body {
    padding-inline: 10%;
}

header {
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
}

main {
    width: 100%;
    height: 500px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
}

footer {
    width: 100%;
    padding: 20px;
    align-self: flex-end;
}


button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

/* CONTAINERS DIVS */
.product-images {
    width: 50%;
    height: 500px;
}

.product-description {
    width: 50%;
    height: max-content;
}

.product-controls {
    width: max-content;
}

.avatar-button {
    width: 50px;
    height: 50px;

    display: flex;
}

@media (max-width: 600px) {
    
}