/* CONTAINERS DIVS */

/* LEFT SIDE */
.product-images {
    width: 50%;
    height: 500px;
}

/* RIGHT SIDE */
.product-description {
    width: 50%;
    height: max-content;
}


.price {
    width: 100%;
}
.price-amount {
    width: max-content;
}
.discount-badge {
    font-size: 1rem;
}


.product-controls {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.quantity-controls {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.product-add-button {
    margin: auto;
}
