/* CONTAINERS DIVS */

/* LEFT SIDE */
.product-images {
    width: 50%;
    padding: 40px;
}


.image-main {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;

    border-radius: 24px;
    overflow: hidden;
}

.images-gallery {
    width: 100%;
    height: max-content;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.image-thumbnail {
    width: 25%;
    aspect-ratio: 1/1;
    display: flex;

    border-radius: 12px;
    overflow: hidden;
}

.selected-thumbnail {
    border: 2px solid var(--orange);
    opacity: 0.5;
}
/* RIGHT SIDE */
.product-description {
    width: 50%;
    height: max-content;
    padding: 40px;
}


.price {
    width: 100%;
}
.price-amount {
    width: max-content;
}
.discount-badge {
    font-size: 1rem;
}


.product-controls {
    width: 50%;
    padding-inline: 40px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.quantity-controls {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.product-add-button {
    margin: auto;
}
