.bars-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.bar-labeled {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
    align-items: center;
    gap: 5px;
}

.bar {
    width: 35px;
    flex-shrink: 1;

    border-radius: 3px;
    background: var(--soft-red);
}

.badge {
    width: max-content;
    padding: 5px;
    
    color: var(--cream);
    
    background: var(--dark-brown);
    border-radius: 3px;
}

.show-on-hover {
    opacity: 0;
} 

.bar-blue {
    background: var(--cyan);
}

.bar-labeled:hover > .bar {
    background: var(--soft-red-hover);
}

.bar-labeled:hover > .bar-blue {
    background: var(--cyan-hover);
}

.bar-labeled:hover > .show-on-hover {
    opacity: 1;
}

